
//Body Font
$body-font-size: 14px;


//Heading Font
$h1-font-size: 30px;
$h2-font-size: 24px;
$h6-font-size: 19px;


    
//Font Weights
$regular:   300;
$normal:    400;
$medium:    500;
$semi-bold: 600;
$bold:      700;




//Color 
$color-white:       #ffffff;
$color-black:       #000000;
$light-black:       #212121;
$gray-color:        #556376;
$medium-gray-color: #DEE2E6;
$light-gray-color:  #E0E0E0;
$gray-color-text:   #424242;   
$gray-color-label:  #495057;
$blue-color:        #255BD4;
$dark-blue-color:   #1444ac;
$gray-light-color:  #EEF2F7;
$gray-color-bg:     #F2F5F9;
$gray-color-border: #d1d5db;
