@use '../layout/variables' as vars;
@use '../mixins/transition' as *;
@use '../mixins/breakpoints' as bp;

.dashboard-overview {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .dashboard-overview-item {
    width: 50%;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: vars.$light-black;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    &:nth-last-child(1){
      margin-bottom: 0;
    }
    &:nth-last-child(2){
      margin-bottom: 0;
    }
    @include bp.bp(custome-991) {
      font-size: 20px;
    }
    @include bp.bp(phone-end) {
      height: 80px;
    }
    @include bp.bp(custome-375) {
      width: 100%;
      height: 70px;
    }
    p{
      color: #9E9E9E;
      margin-bottom: 0;
      margin-top: 5px;
      text-align: center;
    }
  }
  &.dashboard-overview-three-row{
     .dashboard-overview-item {
         width: 33.3333%;
         @include bp.bp(custome-375) {
          width: 100%;
        }
     }
  }
}

.item{
   .p-datatable{
      width: 100%;
   }
}