@use "../mixins/breakpoints" as bp;

.card-wrapper-gap {
  .item {
    .activity-log {
      .p-card {
        width: 100%;
        margin: 16px 0;
        border-radius: 14px;
        box-shadow: 0 2px 12px rgba(4, 135, 217, 0.08);
        background: #fff;
        @include bp.bp(phone-end) {
          margin: 12px 0;
        }
      }
      .p-datatable .p-datatable-table {
        min-width: auto;
        background-color: #ffff;
      }
    }

    .details-card {
      .details-overview {
        .detail-item {
          .p-button-label {
            color: #3b82f6;
          }
          .p-button-icon {
            color: #3b82f6;
          }
          .download-btn {
            border: 1px solid #3b82f6;
            border-radius: 6px;
            .p-button-label {
              @include bp.bp(custome-568) {
                display: none;
              }
            }
            .p-button-icon {
              @include bp.bp(custome-568) {
                margin-right: 0rem;
                margin-left: 0rem;
              }
            }
          }
        }
      }
    }
  }

  .card-wraper {
    .form-container {
      .p-button-label {
        color: #3b82f6;
        font-weight: 700;
      }
      .p-button-icon {
        color: #3b82f6;
      }
      .upload-container {
        background-color: #f8f8f8;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        text-align: center;
        .custom-upload-button {
          border: 1px solid #64748b;
          color: #64748b;
          .pi-upload {
            color: #64748b;
          }
        }
      }
      .p-button {
        @include bp.bp(phone-end) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}

// .p-datatable .p-datatable-table .p-datatable-tbody td {
//     padding: 20px 10px;
// }
