
@use '../layout/variables' as vars;
@use '../mixins/transition' as *;
@use '../mixins/scalable-font' as fs;
@use '../mixins/breakpoints' as bp;

.get-started{
  height: 100vh;
  @include bp.bp(custome-991) {
    height: auto;
  }
}

.get-started-content{
  max-width: 444px;
  h2{
    margin-bottom: 32px;
    @include bp.bp(custome-1440) {
      margin-bottom: 22px;
    }
    @include bp.bp(custome-568) {
      margin-bottom: 17px;
     }
  }
}

.get-started-right-component-content{
  margin-top: 35px;
  @include bp.bp(custome-1440) {
    margin-top: 20px;
  }
  @include bp.bp(mid-desktop3) {
    margin-top: 15px;
  }
  @include bp.bp(phone-end) {
    margin-top: 10px;
  }
}

.get-started-right-component{
  max-width: 550px;
  width: 100%;
  @include bp.bp(mid-desktop3) {
    max-width: 460px;
  }
  h6{
    margin-bottom: 5px;
  }
  h2{
    margin-bottom: 12px;
  }
  ul{
    list-style: none;
    li{
        display: flex;
        border-bottom: 1px solid vars.$gray-light-color;
        padding: 39px 0;
        justify-content: space-between;
        cursor: pointer;
        @include bp.bp(custome-1440) {
          padding: 30px 0;
        }
        @include bp.bp(mid-desktop3) {
          padding: 25px 0;
        }
        @include bp.bp(custome-568) {
          padding: 20px 0;
        }
        .content{
            display: flex;
            .icons{
              width: 53px;
              height: 53px;
              @include bp.bp(phone-end) {
                width: 45px;
                height: 45px;
              }
            }
            .text{
                padding-left: 21px;
                @include fs.fs(16, 24);
                font-weight: 500;
                color: vars.$light-black; 
                text-align: left;
                @include transition(all, 0.3s, ease-in-out);
                @include bp.bp(custome-1440) {
                  padding-left: 17px;
                }
                @include bp.bp(custome-568) {
                  padding-left: 14px;
                }
                p{
                  text-align: left;
                  font-weight: 500;
                  color: vars.$light-black; 
                  margin-bottom: 5px;
                  @include fs.fs(12, 14);
                  @include bp.bp(phone-end) {
                    margin-bottom: 0;
                  }
                }
            }
        }
        .arrow{
          display: flex;
          align-items: center;
          justify-content: center;
          .arrow-wraper{
            width: 47px;
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            @include transition(all, 0.3s, ease-in-out);
            i{
              font-size: 24px;
              @include transition(all, 0.3s, ease-in-out);
            }
          }
        }
        &:hover{
          .content{
            .text{
              color: vars.$blue-color;
            }
          }
          .arrow{
            .arrow-wraper{
               background-color: vars.$blue-color;
              i{
                color: vars.$color-white;
              }
            }
          }
        }
        &:last-child{
          border-bottom: 0px;
        }
      }
  }
}