
@use '../mixins/breakpoints' as bp;

.right-panel-component {
  .card-wrapper-gap {
    .p-p-4 {
      .detail-item {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

        .detail-item:last-child {
          border-bottom: none;
        }
        .labelName{
          font-size: 14px;
          color: #9E9E9E;
          font-weight: 500;
          width: 150px;
          line-height: 20px;
          @include bp.bp(custome-568) {
            max-width: 80px;
          }
        }
        .labelValue{
          font-size: 14px;
          color: #212121;
          @include bp.bp(phone-end) {
            max-width: 400px;
          }
          @include bp.bp(custome-568) {
            max-width: 200px;
          }

        }
        .download-btn{
          border: 1px solid #3B82F6;
          .p-button-label {
            @include bp.bp(custome-568) {
              display: none;
            }
          }
          .p-button-icon{
            @include bp.bp(custome-568) {
              margin-right: 0rem;
              margin-left: 0rem;
            }
          }
        }
        .p-button-icon{
          color:#3B82F6;

        }
         .p-button-label{
          color:#3B82F6;
          
        }
      }
    }

    .file-item {
      text-align: center;
      position: relative;
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;



      .file-icon {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 5px;
          position: relative;
      }

      .pi-file-pdf {
          font-size: 2rem;
          color: red;
      }

      .uploadfiles {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 1.2rem;
          color: red;
      }
  }

  .custom-upload-button {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      border-radius: 6px;
      border: 1px solid #64748B;
      padding: 12px 30px;
      color: #6C757D;
      font-size: 14px;
      white-space: nowrap;
      margin-top: 10px; 
      box-sizing: border-box; 
      height: auto; 

  
  }

  .file-upload-input {
      display: none;

  }


  }
}
.tab-with-table{
  .p-tabview-nav-container{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }
  .p-tabview-panels{
    padding: 0;
    background-color: transparent;
  }
}