@use '../layout/variables' as vars;
@use '../mixins/transition' as *;
@use '../mixins/breakpoints' as bp;

.sub-header-panel{
  padding: 16px 25px;
  background: vars.$color-white;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  border-bottom: 1px solid vars.$light-gray-color;
  @include bp.bp(custome-375) {
    padding: 15px 15px;
  }
  .sub-header-left{
    text-align: left;
    
    @include bp.bp(mid-desktop2) {
      max-width: 300px;
    }
    @include bp.bp(phone-end) {
      padding-right: 20px;
      box-sizing: border-box;
    }
    @include bp.bp(custome-375) {
      padding-right: 15px;
    }
    &.sub-header-left-with-arrow{
      display: flex;
      flex-direction: row;
    }
    .arrow{
      padding-right: 10px;
      a{
         color: #212121;
      }
    }
    h3{
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 3px;
    }
    p{
      font-size: 12px;
      margin-bottom: 0px;
      @include bp.bp(phone-end) {
        line-height: 18px;
      }
    }
    .p-badge {
      background: #FBA86F;
      padding: 3.5px 7.5px 3.5px 7.5px;
      border-radius: 80px;
      font-size: 12px;
      line-height: 17px;
      font-weight: vars.$bold;
    }
  }
}


