/* Custom styles for day cells */
.custom-day-cell {
   /*  //height: 40px !important; Reduce the height of each cell */
    border-radius: 12px !important; /* Add border radius */
    border: none !important;
  }
  
  /* Optional: Style for today's cell */
  .custom-day-cell.bg-blue-500 {
    background-color: #0387d9 !important; /* Blue color for today's cell */
    color: white !important; /* Text color */
    padding: 0px !important;
    margin: 0px !important;
  }

  /* Hover effect for regular day cells */
  .custom-day-cell:not(.bg-blue-500):hover {
    background-color: rgba(3, 135, 217, 0.1) !important; /* Light blue hover effect */
    cursor: pointer !important;
    transition: background-color 0.2s ease !important;
  }

  /* Hover effect for today's cell (highlighted) */
  .custom-day-cell.bg-blue-500:hover {
    background-color: rgba(3, 135, 217, 0.8) !important; /* Darker blue on hover for today's cell */
    cursor: pointer !important;
    transition: background-color 0.2s ease !important;
  }
  
