@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: "Geist", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}